.card {
    /* height: 750px; */
    width: auto;
}

.card-body {
    background-color: rgb(241, 237, 201);
    height: 242px;
}

.card-img {
    height: 160px;
}

@media screen and (max-width: 900px) {
    .card-img {
        height: 200px;
    }    
}