body {
    overflow-x: hidden
}
.aos-init:not(.aos-animate):after {
    position: fixed;
}

.sections {
    width: auto;
}

@media screen and (max-width: 970px) {
    .sections, #bottom {
        width: 110%;
    }
}