footer {
    width: 100%;
    color: rgb(133, 39, 39);
    background-color: rgb(173, 148, 85);
    padding: 5%;
    height: 180px;
}

a:link {
    color: white;
}

a:hover {
    color: blue;
}

a:active {
    color: red;
}

a:visited {
    color: purple;
}