footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: rgba(189, 161, 90, 0.753);
    padding: 0.7%;
}

a:link {
    color: white;
}

a:hover {
    color: blue;
}

a:active {
    color: red;
}

a:visited {
    color: purple;
}