textarea {
    width: 50%;
    height: 70px;
    text-align: center;
    font-size: 24pt;
    font-weight: 600;
}

.success-msg {
    margin-top: 10pt;
    width: 27%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(241, 237, 201);
}

.cross {
    color: white;
    background-color: rgb(133, 39, 39);
    font-family: 'Times New Roman', Times, serif;
    font-size: 17pt;
    position: absolute;
    right: 450px;
    margin-top: -15px;
}

@media screen and (max-width: 960px) {
    .item-for-contact {
        margin-top: 400px;
        padding: 3%;
    } 

    textarea {
        font-size: 8pt;
        padding: 3%;
        height: 100pt;
    }
}