.quotation {
    background-color: rgb(241, 237, 201);
    padding: 2%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
}

@media screen and (max-width: 900px) {
    .quotation {
        display: grid;
        grid-template-columns: auto;
    }

    .quote-image {
        width: 380px;
        margin-left: auto;
        margin-right: auto;
    }
}